/* classes start with a . 
    id's start with #
    html selectors start with the name of the element (p, h1, etc)
*/

.someHeader {
    height: 50px;
}

.portrait {
    width: 200px;
    border-radius: 150px;
    border-color:skyblue;
    border-width: 10px;
    border-style: double;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


body {    
    background: white;
    margin: 0; 
    /*background-image:l */


}
    
body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 375px;
    background: grey;
    background-image: url("https://blueivorycreative.com/wp-content/uploads/2019/01/unnamed.png"); 
    background-repeat: repeat;
    z-index: -1;
}
    
    /* Just to be sure, automatically set all elements to a higher z-index than the pseudo element */

h1{
    text-align: center;
    color:white;
    font-size: 35px;
    
}
h2{
    text-align: left;
}
h3{
    text-align: center;
}

.tech-background{
    background-image: url("https://blueivorycreative.com/wp-content/uploads/2019/01/unnamed.png"); 
    background-repeat: repeat;
}

nav {
    /* border: 4px solid rgb(63, 63, 161); */
    padding: 5px;
    /* background-color: skyblue;  */
    display: flex;
    justify-content: flex-end;
    
}

nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
}


 nav li:hover {
    background: skyblue;
  
    border-radius: 25px;
 /* border-bottom: 1px solid black;  */
}

main{
    width: 100%;
    margin: auto;
    font-size: larger;
}


main li{
    margin: 8px;
    font-size: 20px; ;
   
}
.transparent{
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 250px;
    
}


.section-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.zig{
    background-color: lightblue;
    background-size:cover;
    padding: 50px;
}

.spacing h2 {
    width: 70%;
    margin: auto;

}

.zag{
    background-color: white;
    overflow-x: hidden;
    padding: 50px;

}



/* @media only screen and (max-width: 600px) {
    body {
        background: tomato;
    }
} */